@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
:root {
    --white-color: #fff;
    --red-color: #E51B27;
    --gray2-color: #212121;
    --dark1-rgb-color: rgba(33,33,33,1);
    --dark2-rgb-color:rgb(39 39 39 / 70%);
    --dark3-rgb-color: rgb(15 15 15 / 70%)
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background:var(--gray1-color);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
header nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    display: flex;
    align-items: center;
    z-index: 1;
}
header nav .logo {
    flex-basis: 20%;
}
header nav .logo img {
    width: 100px;
}
header nav .nav-links {
    flex: 1;
    text-align: right;
}
header nav .nav-links li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
header nav .nav-links li a {
    text-decoration: none;
    color: var(--white-color);
    padding: 10px;
}
header nav .nav-links li a:hover {
    background: var(--red-color);
    border-radius: 5px;
}
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,var(--dark2-rgb-color) , var(--dark3-rgb-color)), url(../img/background.png);
    background-size: cover;
}
.main__info {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
.info__overlay {
    width: 0;
    height: 0;
    border-top: 500px solid var(--gray2-color);
    border-right: 500px solid transparent;
    border-bottom: 500px solid var(--gray2-color);
    border-left: 500px solid var(--gray2-color);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.info__img img{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 1;
    transform: translateY(-50%);
}
.info__circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}
.circle__category {
    position: absolute;
    display: flex;
    color: var(--white-color);
    max-width: 300px;
}
.circle__category img {
    width: 70px;
    height: 70px;
}
.circle__category div {
    margin-left: 30px;
}
.circle__category--1 {
    top: 450px;
    left: 650px;
}
.circle__category--2 {
    top: 50px;
    left: 350px;
    transform: rotate(-90deg);
}
.circle__category--3 {
    bottom: 450px;
    left: 0px;
    transform: rotate(-180deg);
}
.circle__category--4 {
    bottom: 50px;
    right: 350px;
    transform: rotate(-270deg);
}
.main__controls {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.main__controls h3 {
    margin: 15px 0;
    color: var(--white-color);
}
.controls__btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: var(--white-color);
    padding: 5px;
    border-radius: 100%;
}
.controls__btn:hover{
    background-color: var(--red-color);
}
.controls__btn--up-control {
    transform: rotate(180deg);
}
.main__slides .slide__caption {
    position: absolute;
    color: var(--white-color);
    left: 10%;
    bottom: 50px;
    opacity: 0;
    max-width: 80%;
}
.main__slides .slide__caption h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 44px;
    color: var(--white-color);
    text-transform: uppercase;
}
.main__slides .slide__caption .subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 15px;
}
.main__slides .slide__caption .outline-btn {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--white-color);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: 1px solid var(--white-color);
    padding: 10px 20px;
    transition: all 0.4s ease-in-out;
    background: transparent;
    text-decoration: none;
}
.main__slides .slide__caption--active {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.main__slides .slide__caption .outline-btn:hover {
    background: var(--red-color);
}
@keyframes fadeInUpSD {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
.rotate-up {
	-webkit-animation: rotateUp 0.6s ease-in-out both;
	        animation: rotateUp 0.6s ease-in-out both;
}
.rotate-down {
	-webkit-animation: rotateDown 0.6s ease-in-out both;
	        animation: rotateDown 0.6s ease-in-out both;
}
@-webkit-keyframes rotateDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    -webkit-opacity: 0;
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              -webkit-opacity: 1;
                        opacity: 1;
    }
  }
  @keyframes rotateDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
              -webkit-opacity: 0;
                        opacity: 0;
    }
    100% {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              -webkit-opacity: 1;
                        opacity: 1;
    }
  }
  @-webkit-keyframes rotateUp {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      100% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
      }
    }
    @keyframes rotateUp {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-opacity: 0;
                          opacity: 0;
      }
      100% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                -webkit-opacity: 1;
                          opacity: 1;
      }
    }